---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const allProjects = await getCollection("projects");

// Sort projects alphabetically by title
const sortedProjects = allProjects.sort((a, b) =>
  a.id.localeCompare(b.id)
);

const pageTitle = "Projects";
---

<Layout pageTitle={pageTitle}>
  <h2>Projects</h2>
  <ul role="list" class="link-card-grid">
    {sortedProjects.map((card) => (
      <Card 
        url={`/projects/${card.id}/`} 
        image={card.data.image.url} 
        title={card.data.title} 
        body={card.data.description}
      />
    ))}
  </ul>
</Layout>